body {
    font-family: sans-serif;
}

#assignment-instructions {
    color: green;
    font-family: sans-serif;
}

.code-element{
    color: green;
}

code {
    color: red;
    font-family: 'Karantina', cursive;
}

ol li {
    background: black;
    color: white;
}

li + li {
    background: black;
    color: white;
}
