.box {
    border: 5px solid darkblue;
    padding: 5px 3px 4px 2px;
    margin: 5px 3px 4px 2px;
    box-sizing: border-box;
    display: inline-block;
}

#first-box {    
    height: 300px;
    width: 50%;
    /* visibility: hidden; */
    display: none;
}

html,
body {
    height: 100%;
}

div:last-of-type:hover {
    border-color: green;
}